# Fortran modules
*.[ao]
*.mod

# compiled Python
*.py[cod]

# compiled binaries
bins/*
objs/*

# generated data
alms/*.fits
beam/*.dat
gifs/*.gif
kern/*.dat
maps/*.fits
stat/*.dat
stat/*.pdf
xtra/*.fits
xtra/*.gif

# generated sims
mcmc/*.fits
mcmc/*.gif
mcmc/coldest/*.dat
mcmc/hottest/*.dat

