# Fortran modules
*.[ao]
*.mod

# compiled Python
*.py[cod]

# compiled binaries
bins/i386-Linux/*
bins/i386-Darwin/*
bins/x86_64-Linux/*
bins/x86_64-Darwin/*

# generated data
alms/*.fits
beam/*.dat
gifs/*.gif
maps/*.fits
stat/*.dat
stat/*.pdf
